body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: rgb(230, 153, 12);
}
.flexible-container{
    display: flex;
    margin-bottom: 10px;
}
.half-width{
    width: 50%;
    padding-left: 6%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 6px;
    color: snow;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exprience-level{
margin-bottom:10%;
 width:40%;
 padding-left: 10px;
 margin-left: 5%;
 margin-right: 5%;
 box-shadow: 20px 20px 20px gray;
 
}
#full-stack-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    margin-bottom: 4%;
}